body {
    background-color: #f2f2f2;
  }
  
  h1, h2 {
    color: #00698f;
  }
  
  th, td {
    border: 1px solid #000000;
    padding: 10px;
  }
  
  .E-I{
    background-color:#1b4332 ;
  }
  .EI{
    background-color:#74c69d ;
  }
  .T-T{
    background-color:#ff9100 ;
  }
  .TT{
    background-color:#ffb600 ;
  }
  .S-S{
    background-color:#e5989b ;
  }
  .SS{
    background-color:#ffcdb2 ;
  }
  